[Desktop Entry]
Name=NGOPilot
Exec=/usr/lib/ngopilot/NGOPilot %U
Icon=/usr/share/pixmaps/ngopilot.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/ngopilot;
