.git/
.github/
.pytest_cache/
.ruff_cache/
**/.DS_Store
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/__pycache__/
**/*.egg-info/
**/*.log
**/*.pyc
**/build/
**/coverage/
**/dist/
**/node_modules/
**/target/

algo-dependencies/
deployment/frontend/
harness bone/.hermit/
harness bone/docs/
harness bone/documentation/
harness bone/ui/
testcases/

Agent-MCP Architecture Design Plan.md
MCP-pre-build algorithm design plan.md
report.md
